/* Main stylesheet for the site included in every page */

@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@300&family=Open+Sans:wght@300&display=swap');

/* Reset all the things */
* {
  margin: 0;
  padding: 0;
  border: none;
}

body {
    font-family: 'Open Sans', sans-serif;
    position: relative;
    min-height: 100vh;
    color: blanchedalmond;
    background: url('../images/page-background.jpg') no-repeat center bottom fixed, black;
  }


h1, h2 {
    font-family: 'Crimson Pro', serif;
  }

/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header li {
  list-style: none;
  display: inline-block;
  padding: 0 20px;
  font-family: 'Crimson Pro', serif;
}

header a {
  text-decoration: none;
  color: inherit;
}

#logo img{
  width: 200px;
}

.active {
  border-bottom: 1px solid;
}

/* Banner Image and Cover text */

#banner {
  height: 400px;
  width: 1800px;
  overflow: hidden;
  position: relative;
  margin: 0 auto;
  margin: 20px;
}

#banner-image {
  height: 400px;
  width: 1800px;
  background: url('../images/at-gun-point.jpg') no-repeat center center;
  animation-name: banner-zoom;
  animation-duration: 5s;
  animation-fill-mode: forwards;
  margin: 0 auto;
}

/* create the zoom out for banner image */

#banner-cover-text{
  letter-spacing: 4px;
  width: 400px;
  height: 150px;
  padding-top: 10px;
  padding-left: 10px;
  bottom: 10px;
  left: 40px;
  position: absolute;  
}

#banner-cover-text h2 {
  margin-bottom: 6px;
  text-decoration: underline;
  text-underline-offset: 4px;
  text-transform: uppercase;
  font-size: 240%;
}

#banner-cover-text h3 {
  font-family: 'Open Sans', sans-serif;
  font-size: 125%;

}

#banner-cover-text h3 span {
  /* animates color in effect on loading page */
  animation-name: banner-cover-colors;
  animation-duration: 5s;
  animation-delay: 3s;
  animation-fill-mode: forwards;
}

@keyframes banner-zoom {
  from {
      transform: scale(1.4);
      background-size: cover;
  }

  to {
      transform: scale(1.0);
      background-size: cover;
  }
}

@keyframes banner-cover-colors {
  from{
      opacity: 1;
  }
  to{
      color:red;
      opacity: 1;
  }
}

#testimonials {
  display: flex;
  /* change to column in responsive modes as needed */
  flex-flow: row wrap;
  justify-content: center;
}

#testimonials > div {
  margin: 10px;
  height: 210px;
  width: 330px;
  padding: 20px;
  display: flex;
  flex-flow: column wrap;
}

#testimonials h3 {
  text-transform: uppercase;
  text-align: center;
  margin: 10px;
}

#testimonials p {
  font-style: italic;
}

#media-section {
  display: flex;
  /* change to column in responsive modes as needed */
  flex-flow: row wrap;
  justify-content: center;
}

#media-section iframe {
  width: 1020px;
  height: 630px;
  margin: 20px;
}

#product {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
}

#product > div {
  margin: 10px;
  width: 700px;
  padding: 20px;
  align-self: center;
}

#buy-the-game {
  display: flex;
  justify-content: center;
  padding: 50px;
}

/* Store */

#games {
  display: flex;
  /* change to column in responsive modes as needed */
  flex-flow: row wrap;
  justify-content: center;
}

#games > div {
  margin: 10px;
  width: 400px;
  padding: 20px;
}

#dlc {
  display: flex;
  /* change to column in responsive modes as needed */
  flex-flow: row wrap;
  justify-content: center;
}

#dlc > div {
  margin: 10px;
  width: 200px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}


.purchase-header{
  padding: 10px;
  font-size: 1rem;
  text-align: center;
  max-width: 460px;
  background-color: rgba(60, 60, 60, 0.6);
  color:blanchedalmond
}

.purchase-body{
  height: 240px;
}

.purchase-body-game{
  height: 200px;
}

.purchase-body-home{
  height: 215px;
  width: 460px;
}

.purchase-footer{
  padding: 10px;
  font-size: 1rem;
  text-align: center;
  max-width: 460px;
  background-color: rgba(136, 8, 8, 0.6);
  text-transform: uppercase;
}
.purchase-footer a {
  color: blanchedalmond;
  text-decoration: none;
}

#std-edition{
  background: url('../images/store/hunt-showdown-game.jpeg') no-repeat center center, black;
}
#collector-edition{
  background: url('../images/store/hunt-showdown-game-collector-edition.jpeg') no-repeat center center, black;
}

#p-daughter{
  background: url('../images/store/hunt-showdown-the-prodigal-daughter.jpeg') no-repeat center center, black;
}
#ronin{
  background: url('../images/store/hunt-showdown-ronin.jpeg') no-repeat center center, black;
}
#lawless{
  background: url('../images/store/hunt-showdown-the-lawless.jpeg') no-repeat center center, black;
}
#cain{
  background: url('../images/store/hunt-showdown-cain.jpeg') no-repeat center center, black;
}
#trick-shot{
  background: url('../images/store/hunt-showdown-trick-shooter.jpeg') no-repeat center center, black;
}
#lonely-howl{
  background: url('../images/store/hunt-showdown-lonely-howl.jpeg') no-repeat center center, black;
}
#azure-arsenal{
  background: url('../images/store/hunt-showdown-azure-arsenal.jpeg') no-repeat center center, black;
}
#revenant{
  background: url('../images/store/hunt-showdown-the-revenant.jpeg') no-repeat center center, black;
}


/* Gallery uses columns */

#gallery {
line-height: 0;
/* TODO reduce the col count in smaller screens a resize < 1000px makes the images too small */
column-count: 5;
column-gap: 5px;
}

#gallery img {
width: 100% !important;
height: auto !important;
margin-bottom: 5px;
}

/* Signup */

.form-section {
    clear: left;
    /* 700 looks like the the minimum height without footer over-run */
    height: 700px;
    max-width: 100%;
    background: url("../images/signup-form.jpg");
    background-size: cover;
    background-position: center;
  }

.signup-form {
  margin: 150px 10% 0 0;
  background-color: rgba(60, 60, 60, 0.6);
  max-width: 400px;
  position: absolute;
  left: 20%;
  padding: 30px;
}

.signup-form > h2 {
  margin-bottom: 20px;
}

.text-input, .date-input {
  background: transparent;
  outline: none;
  width: 100%;
  height: 25px;
  margin: 5px 0 20px 0;
  border: 1px solid;
  border-radius: 2px;
  color:blanchedalmond;
}

.text-input:hover, .date-input:hover {
  border-color: black;
}


.text-input:autofill {
  border: 3px solid black;
  background-color: black;
  color:blanchedalmond;
}

.text-input:-webkit-autofill {
  border: 3px solid black;
  background-color: black;
  color:blanchedalmond;
}

.text-input:focus, .date-input:focus {
  background-color: black;
}

.join-button {
  margin-top: 20px;
  border-radius: 2px;
  padding: 15px 32px 15px 32px;
  text-align: center;
  background-color: black;
  color: blanchedalmond;
  display: block;
  float: right;
}

.join-button:hover {
  background-color: black;
  color: blanchedalmond;
}


/* Footer */

footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  background-color: transparent;
  position: absolute;
  width: 100%;
  right: 0;
  bottom: 0;
  color: blanchedalmond;
}
 
footer > div {
  margin: 10px;
}

footer > ul {
  list-style-type: none;
}

footer li {
  display: inline;
  list-style-type: none;
  padding-right: 5px;
}

footer i {
  color: blanchedalmond;
}